extends layout

block content
    #container.row.centered-title
        h1 ANDROBENCHMARK SERVER
        p Welcome to AndroBenchmark statistic server

    .row.centered-title.top-20px
        .btn-group
            a(id="gray" class ="btn btn-default" onclick="drawGraph(0)") GrayScale
            a(id="matrix"  class ="btn btn-default" onclick="drawGraph(1)") Matrix
            a(id="brute"  class ="btn btn-default" onclick="drawGraph(2)") Bruteforce

    #performance-graph.row.misure-grafico-std
        h4 Grafico performance

    #performance-graph2.row.misure-grafico-std
        h4 Grafico performance ( Jni and Renderscript only )

    #battery-graph.row.misure-grafico-std
        h4 grafico batteria

    #battery-graph.row.misure-grafico-std
        h4 grafico batteria ( Jni and Renderscript only ))


    script(src="/vendor/highcharts.js")

    //- usiamo il punto quando vogliamo fare tag su piu righe in jade
    script.
            //teniamo traccia del graficoselezionato (di default grayscale)
            var selected = 0

            $(document).ready(function(){

                $('#gray').css('background', 'orange')
                //ricaviamo i nomi dei modelli
               var models = '#{models}'.split(",");
               var modelsBattery = '#{modelsBattery}'.split(",");

               var javaNumber = []
               var jniNumber = []
               var rsNumber = []
               var javaBatteryNumber = []
               var jniBatteryNumber = []
               var rsBatteryNumber = []

               //rendiamo gli arrei ritornati degli interi cosi che possano essere plottati (FA SCHIFO LO SO)
               '#{java}'.split(',').forEach(function(value,key){
                    javaNumber.push(parseInt(value))
                })

               '#{jni}'.split(',').forEach(function(value,key){
                    jniNumber.push(parseInt(value))
                })

               '#{rs}'.split(',').forEach(function(value,key){
                    rsNumber.push(parseInt(value))
                })

               '#{javaBattery}'.split(',').forEach(function(value,key){
                    javaBatteryNumber.push(parseInt(value))
                })

               '#{jniBattery}'.split(',').forEach(function(value,key){
                    jniBatteryNumber.push(parseInt(value))
                })

               '#{rsBattery}'.split(',').forEach(function(value,key){
                    rsBatteryNumber.push(parseInt(value))
                })

               //creiamo il grafico con le opportune colonne
                $('#performance-graph').highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Performance Graph'
                    },
                    xAxis: {
                        categories: models
                    },
                    yAxis: {
                        title: {
                            text: 'Mean Execution Time [ms]'
                        }
                    },
                    series: [{
                        name: 'Java',
                        data: javaNumber
                    },
                    {
                        name: 'Jni',
                        data: jniNumber
                    },
                    {
                        name: 'RenderScript',
                        data: rsNumber
                    },
                    ]
                });

                //creiamo il grafico con le opportune colonne
                $('#performance-graph2').highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Performance Graph'
                    },
                    xAxis: {
                        categories: models
                    },
                    yAxis: {
                        title: {
                            text: 'Mean Execution Time [ms]'
                        }
                    },
                    series: [
                    {
                        name: 'Jni',
                        data: jniNumber
                    },
                    {
                        name: 'RenderScript',
                        data: rsNumber
                    },
                    ]
                });

                //creiamo il grafico con le opportune colonne
                $('#battery-graph').highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Battery Graph'
                    },
                    xAxis: {
                        categories: modelsBattery
                    },
                    yAxis: {
                        title: {
                            text: 'Number of cycles'
                        }
                    },
                    series: [{
                        name: 'Java',
                        data: javaBatteryNumber
                    },
                    {
                        name: 'Jni',
                        data: jniBatteryNumber
                    },
                    {
                        name: 'RenderScript',
                        data: rsBatteryNumber
                    },
                    ]
                });

                 $('#battery-graph2').highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Battery Graph'
                    },
                    xAxis: {
                        categories: modelsBattery
                    },
                    yAxis: {
                        title: {
                            text: 'Number of cycles'
                        }
                    },
                    series: [
                    {
                        name: 'Jni',
                        data: jniBatteryNumber
                    },
                    {
                        name: 'RenderScript',
                        data: rsBatteryNumber
                    },
                    ]
                });
            });

            function drawGraph(id){
                //se seleziono quello gia selezionato ritorno
                if(id == selected){
                    return
                }
                //abbellimenti grafici
                if(id == 0){
                    selected = 0
                     $('#gray').css('background', 'orange')
                     $('#matrix').css('background', 'white')
                     $('#brute').css('background', 'white')

                 }

                 else if(id == 1){
                    selected = 1
                    $('#gray').css('background', 'white')
                    $('#matrix').css('background', 'orange')
                    $('#brute').css('background', 'white')

                 }
                 else if(id == 2){
                    selected = 2
                    $('#gray').css('background', 'white')
                    $('#matrix').css('background', 'white')
                    $('#brute').css('background', 'orange')

                 }
                 //chiamata al server per ricavare i valori necessari
                  $.ajax({
                    url: '/createGraph',
                        type: 'POST',
                        data: {id : id},
                        success: function(data){

                                 $('#performance-graph').highcharts({
                                            chart: {
                                                type: 'column'
                                            },
                                            title: {
                                                text: 'Performance Graph'
                                            },
                                            xAxis: {
                                                categories: data.models
                                            },
                                            yAxis: {
                                                title: {
                                                    text: 'Mean Execution Time [ms]'
                                                }
                                            },
                                            series: [{
                                                name: 'Java',
                                                data: data.java
                                            },
                                            {
                                                name: 'Jni',
                                                data: data.jni
                                            },
                                            {
                                                name: 'RenderScript',
                                                data: data.rs
                                            },
                                            ]
                                        });

                                 $('#performance-graph2').highcharts({
                                            chart: {
                                                type: 'column'
                                            },
                                            title: {
                                                text: 'Performance Graph'
                                            },
                                            xAxis: {
                                                categories: data.models
                                            },
                                            yAxis: {
                                                title: {
                                                    text: 'Mean Execution Time [ms]'
                                                }
                                            },
                                            series: [
                                            {
                                                name: 'Jni',
                                                data: data.jni
                                            },
                                            {
                                                name: 'RenderScript',
                                                data: data.rs
                                            },
                                            ]
                                        });

                                //creiamo il grafico con le opportune colonne
                                $('#battery-graph').highcharts({
                                    chart: {
                                        type: 'column'
                                    },
                                    title: {
                                        text: 'Battery Graph'
                                    },
                                    xAxis: {
                                        categories: data.modelsBattery
                                    },
                                    yAxis: {
                                        title: {
                                            text: 'Number of cycles'
                                        }
                                    },
                                    series: [{
                                        name: 'Java',
                                        data: data.javaBattery
                                    },
                                    {
                                        name: 'Jni',
                                        data: data.jniBattery
                                    },
                                    {
                                        name: 'RenderScript',
                                        data: data.rsBattery
                                    },
                                    ]
                                });

                                    //creiamo il grafico con le opportune colonne
                                $('#battery-graph2').highcharts({
                                    chart: {
                                        type: 'column'
                                    },
                                    title: {
                                        text: 'Battery Graph'
                                    },
                                    xAxis: {
                                        categories: data.modelsBattery
                                    },
                                    yAxis: {
                                        title: {
                                            text: 'Number of cycles'
                                        }
                                    },
                                    series: [
                                    {
                                        name: 'Jni',
                                        data: data.jniBattery
                                    },
                                    {
                                        name: 'RenderScript',
                                        data: data.rsBattery
                                    },
                                    ]
                                });

                            }

                     });
            }

